# Database Configuration
DB_NAME=
DB_USERNAME=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# External Port for Email Builder
EXTERNAL_PORT=

VITE_APP_LOGIN_URL=
VITE_APP_LOGOUT_URL=
VITE_ALLOWED_HOSTS=
MINIO_PUBLIC_URL=

PURELYMAIL_EMAIL=
PURELYMAIL_PASS=

CRON_SCHEDULE=